:root{
font-family: 'Plus Jakarta Sans', sans-serif;
/*### Primary*/

--Red: hsl(1, 90%, 64%);
--Blue: hsl(219, 85%, 26%);

/*### Neutral*/

--White: hsl(0, 0%, 100%);
--Very-light-grayish-blue: hsl(210, 60%, 98%);
--Light-grayish-blue-1: hsl(211, 68%, 94%);
--Light-grayish-blue-2: hsl(205, 33%, 90%);
--Grayish-blue: hsl(219, 14%, 63%);
--Dark-grayish-blue: hsl(219, 12%, 42%);
--Very-dark-blue: hsl(224, 21%, 14%);
    
/*## Typography
### Body Copy*/

--Font-size : 16px
}
body{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--White);
    font-size: var(--Font-size);
    
    
}
.persona{
    display: flex;
    align-items: center;
    
}
.pagina{
    width:100vw;
    height:100vh;
    background-color: var(--Very-light-grayish-blue);
    margin: 25px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
p {
    color: var(--Dark-grayish-blue);
  }
.persona
{
    background-color: var(--Light-grayish-blue-1);
}
.titulos
{
    width: 100%;
}
.titulo2
{
    float: right;
}
h2{
    color: var(--Dark-grayish-blue);
}



